{
	"presets": ["@babel/preset-env", "minify", "@babel/preset-typescript", "@babel/preset-react"],
	"plugins": [
		"babel-plugin-styled-components",
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-proposal-optional-chaining",
		"@babel/plugin-proposal-class-properties"
	]
}
